
// localColor
$navy: #011e3b;
$blue: #0477db;
$aqua: #77d2f7;
$teal: #3ad1d1;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #fad903;
$orange: #ff851b;
$red: #fa3b31;
$pink: #e913b7;
$purple: #b10dc9;
$maroon: #811348;
$white: #ffffff;
$gray: #928f8f;
$silver: rgb(100, 98, 98);
$black: #000;

// seminColor
$se_teal: #3fd2c7;
$se_powderblue: #99ddff;
$se_darkblue: #00458b;

// tabColor
$tab_bluer: #00a9d8;
$tab_blue: #3fd2c7;
$tab_amel: #259b9a;

//tistColor
$tist_darkPurple: #150734;
$tist_darkBlue: #0f2557;
$tist_darkPowBlue: #28559a;
$tist_blue: #3778c2;
$tist_skyBlue: #4b9fe1;
$tist_amelBlue: #63bce5;
$tist_amel: #7ed5ea;

//liveColor
$live_darkBlue: #182978;
$live_powBule: #6688cc;
$live_skyPowBlue: #acbfe6;

//coffeeColor
$coffee_basic: #f6f4f2;
$coffee_navy: #425664;
$coffee_woodBrown: #c6ad8f;

//energyColor
$energy_skyBlue: #11abc1;
$energy_redPink: #df3062;
$energy_orangeYellow: #f5b935;
$energy_green: #4bac3f;

//kyleColor
$kyle_white: #f5f5f5;
$kyle_frog: #8db48e;
$kyle_darkGreen: #4d724d;

//indiColor
$indi_green: #45af2a;
$indi_amel: #3fddc1;
$indi_brown: #d56c06;

//backPackColor
$backP_redBrown: #ad4328;
$backP_lowRedBrown: #b65741;

//DemiColor
$demi_blue: #16519f;
$demi_rowPink: #f07e74;
$demi_yellow: #f8dd2e;
$demi_skyBlue: #4fcbe9;

//MainColor
$main_bg: #191b26;
$main: #2f8c96;
$main_lg: #54b5bf;
$sub1: #158a69;
$sub1_lg: #26a682;
$sub2: #4b7421;
$sub2_lg: #598c26;
$white: #f2f2f2;
$gray1: #060109;
$gray2: #4b4b4b;
$gray3: #cacaca;
$gray4: #e6e6e6;
$gray5: #f2f2f2;
